mixin future-carrer
  .future-carrer
    h5.future-carrer__title Sự nghiệp tương lai
    ul.future-carrer__list
      li.future-carrer__item
        a(href="").future-carrer__link Khoa Toán - Tin
          span.plus
        //- detail
        ul.future-carrer__detail
          li.future-carrer__detail-desc Sinh viên Khoa Toán - Tin học khi ra trường có khả năng ứng dụng cao và trở thành những nhân tố quan trọng trong cuộc cách mạng công nghệ 4.0 trên toàn thế giới
          li Phân tích tài chính
          li Tư vấn tài chính
          li Kế toán thuế
          li Kiểm toán nội bộ
          li Giám sát giao dịch
          li Phân tích tài chính
      li.future-carrer__item
        a(href="").future-carrer__link Khoa học xã hội và nhân văn
          span.plus
        ul.future-carrer__detail
          li.future-carrer__detail-desc Sinh viên Khoa Toán - Tin học khi ra trường có khả năng ứng dụng cao và trở thành những nhân tố quan trọng trong cuộc cách mạng công nghệ 4.0 trên toàn thế giới
          li Phân tích tài chính
          li Tư vấn tài chính
          li Kế toán thuế
          li Kiểm toán nội bộ
          li Giám sát giao dịch
          li Phân tích tài chính
      li.future-carrer__item
        a(href="").future-carrer__link Khoa học sức khoẻ
          span.plus
      li.future-carrer__item
        a(href="").future-carrer__link Du lịch
          span.plus
      li.future-carrer__item
        a(href="").future-carrer__link Hợp tác quốc tế
          span.plus
      li.future-carrer__item
        a(href="").future-carrer__link Âm nhạc ứng dụng
          span.plus
