mixin program-study
  .container
    .program-study
      .program-study__top
        .program-study__top-left
          a(href="") Hãy bắt đầu tương lai ngay bây giờ
        .program-study__top-right
          span Tìm hiểu khối ngành
          div.plus.alt
      .program-study__content
        .row
          .col-sm-12.col-lg-5
            h2.program-study__title Chương trình học tại TLU
          .col-sm-12.col-md-6.col-lg-3
            ul.program-study__list
              li
                a(href="") Logistics & quản lí chuỗi cung ứng
              li
                a(href="") Luật kinh tế
              li
                a(href="") Truyền thông Đa phương tiện
              li
                a(href="") Thanh nhạc
              li
                a(href="") Khoa học máy tính
          .col-sm-12.col-md-6.col-lg-3
            ul.program-study__list.dl-none
              li
                a(href="") Quản trị dịch vụ du lịch - Lữ hành
              li
                a(href="") Trí tuệ nhân tạo
              li
                a(href="") Ngôn ngữ Trung Quốc
              li
                a(href="") Ngôn ngữ Hàn Quốc
              li
                a(href="") Quản trị kinh doanh
        .program-study__all
          a(href="") Tất cả các ngành học
        .program-study__video
          iframe.responsive-iframe(src='https://www.youtube.com/embed/tgbNymZ7vqY')
          //- iframe.responsive-iframe(src='./assets/images/Bitmap.png')
        .program-study__achievement
          .row
            .col-sm-12.col-lg-4
              div.program-study__desc Triết lý giáo dục được thấm nhuần và lan toả trên chặng đường 30 năm.
          .row.pdt-40.justify-content-end
            .col-sm-8.col-lg-4.col-xl-3
              .achievement__item
                h2.achievement__percent.percent 93.7
                p Sinh viên ra trường có việc làm ngay trong năm đầu tiên
            .col-sm-8.col-lg-4.col-xl-3
              .achievement__item
                h2.achievement__percent 29
                p Trường Đại học quốc tế hợp tác
            .col-sm-8.col-lg-4.col-xl-3
              .achievement__item
                h2.achievement__percent 27
                p Chuyên ngành bậc Đại học & Thạc sĩ
