@font-face {
	font-family: 'Avenir Next';
	src: local('Avenir Next Medium'), local('AvenirNext-Medium'), url('AvenirNext-Medium.woff2') format('woff2'),
		url('AvenirNext-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: local('Avenir Next Bold'), local('AvenirNext-Bold'), url('AvenirNext-Bold.woff2') format('woff2'),
		url('AvenirNext-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next';
	src: local('Avenir Next Demi Bold'), local('AvenirNext-DemiBold'), url('AvenirNext-DemiBold.woff2') format('woff2'),
		url('AvenirNext-DemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
