.pb-13 {
	padding-bottom: 13px !important;
}
.pd-15 {
	padding: 15px 0;
}
.pdt-40 {
	padding-top: 40px;
}
.pb-105 {
	padding-bottom: 105px;
}
.ml-10 {
	margin-left: 10px;
}
.pt-35 {
	padding-top: 35px;
}
.pt-104 {
	padding-top: 104px;
}
.pt-sm-70 {
	@include media('<md') {
		padding-top: 70px !important;
	}
}
.pt-180 {
	padding-top: 180px;
}
.pt-214 {
	padding-top: 214px;
}
.ml-5 {
	margin-left: 5px !important;
}
.mt-auto {
	margin-top: auto !important;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
