mixin why-choose-tlu(props = {})
  div.whychoosetlu(style=`text-align:${props.align}`)
    .whychoosetlu__text Ta味o sao l動味a cho味n TLU?
    h5.whychoosetlu__title= props.title
    .whychoosetlu__desc= props.desc
    a(href="").whychoosetlu__link= props.link

