include ../language/language

mixin category
  div.category
    ul.category__list
      li.category__item
        a.category__link Thông tin - tài liệu
      li.category__item
        a.category__link Tra cứu điểm thi
      li.category__item
        a.category__link Liên hệ
      li.category__item
        a.category__link Tuyển dụng
      +language