mixin infor-document-tlu
  .infor-document-tlu
    .infor-document-tlu__title Thông tin tài liệu
    .infor-document-tlu__content
      .infor-document-tlu__item
        .infor-document-tlu__img
          img(src="./assets/images/doc_img1.png", alt="")
        .infor-document-tlu__text Brochure TLU 2019
      .infor-document-tlu__item
        .infor-document-tlu__img
          img(src="./assets/images/doc_img2.png", alt="")
        .infor-document-tlu__text Sổ tay sinh viên

