include ../search/search

mixin navigation
  nav.navigation
    ul.navigation__list
      li.navigation__item
        a.navigation__link Đào tạo
      li.navigation__item
        a.navigation__link Tuyển sinh
      li.navigation__item
        a.navigation__link Đời sống thăng long
      li.navigation__item
        a.navigation__link Giới thiệu
      li.navigation__item
        a.navigation__link Tin tức - sự kiện
      li.navigation__item
        a.navigation__link Doanh nghiệp
    +search