mixin contact-us
  .contact
    .container
      .contact-us
        .contact-us__left
          .contact-us__title  Kết nối với chúng tôi
        .contact-us__right
          .contact-us__social
            .contact-us__name Facebook
            a(href="").contact-us__link facebook.com/thanglonguniversity
          .contact-us__social
            .contact-us__name Instagram
            a(href="").contact-us__link thanglong.university
          .contact-us__social
            .contact-us__name Youtube
            a(href="").contact-us__link youtube.com/channelthanglonguniversity
