mixin contact-us
  .contact
    .container
      .contact-us
        .contact-us__left
          .contact-us__title  Kết nối với chúng tôi
        .contact-us__right
          .contact-us__social
            .contact-us__name Facebook
            .contact-us__link Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          .contact-us__social
            .contact-us__name Instagram
            .contact-us__link Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          .contact-us__social
            .contact-us__name Youtube
            .contact-us__link Lorem, ipsum dolor sit amet consectetur adipisicing elit.
