-
	// Align
	const textAlign = {
		left: 'text-left',
		right: 'text-right',
		center: 'text-center'
	}

	// Bootstrap
	const bootstrapSettings = {
		sectionClassDefault: 'wil-section',
		containerClassDefault: 'container',
		rowClass: 'row',
		colArrangement: ['xs', 'sm', 'md', 'lg'],
		overlay: 'wil-overlay'
	}

	// Theme skin
	const themes = {
		prefixSkin: 'wil-skin-'
	}
