mixin carousel
  #carouselExampleCaptions.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='./assets/images/carousel_tuyensinh.png', alt='...')
        .carousel-content
          div.carousel__title sự nghiệp tương lai
          h2.carousel__detail Mạng máy tính & Thông tin dữ liệu
          div.carousel__name Elon Musk
          div.carousel__carrer Nhà sáng lập SpaceX và kiến trúc sư sản phẩm của Tesla Motors
      .carousel-item
        img.d-block.w-100(src='./assets/images/carousel_tuyensinh.png', alt='...')
        .carousel-content
          div.carousel__title sự nghiệp tương lai
          h2.carousel__detail Mạng máy tính & Thông tin dữ liệu
          div.carousel__name Elon Musk
          div.carousel__carrer Nhà sáng lập SpaceX và kiến trúc sư sản phẩm của Tesla Motors
      .carousel-item
        img.d-block.w-100(src='./assets/images/carousel_tuyensinh.png', alt='...')
        .carousel-content
          div.carousel__title sự nghiệp tương lai
          h2.carousel__detail Mạng máy tính & Thông tin dữ liệu
          div.carousel__name Elon Musk
          div.carousel__carrer Nhà sáng lập SpaceX và kiến trúc sư sản phẩm của Tesla Motors
      .carousel-item
        img.d-block.w-100(src='./assets/images/carousel_tuyensinh.png', alt='...')
        .carousel-content
          div.carousel__title sự nghiệp tương lai
          h2.carousel__detail Mạng máy tính & Thông tin dữ liệu
          div.carousel__name Elon Musk
          div.carousel__carrer Nhà sáng lập SpaceX và kiến trúc sư sản phẩm của Tesla Motors
    ol.carousel-indicators.carousel-indicator-bottom
      div.indicators
        li.active(data-target='#carouselExampleCaptions', data-slide-to='0')
        li(data-target='#carouselExampleCaptions', data-slide-to='1')
        li(data-target='#carouselExampleCaptions', data-slide-to='2')
        li(data-target='#carouselExampleCaptions', data-slide-to='3')


