include ../language/language_mobile

mixin submenu
  ul.sub-menu
    li.sub-menu__item
      a(href="#").sub-menu__link Khoa toán - tin học
        span.arrow-bottom
      ul.sub-menu2
        li.sub-menu2__item
          a(href="").sub-menu2__link Toán ứng dụng
        li.sub-menu2__item
          a(href="").sub-menu2__link Khoa học máy tính
        li.sub-menu2__item
          a(href="").sub-menu2__link Mạng máy tính và truyền thông dữ liệu
        li.sub-menu2__item
          a(href="").sub-menu2__link Hệ thống thông tin
        li.sub-menu2__item
          a(href="").sub-menu2__link Công nghệ thông tin
    li.sub-menu__item
      a(href="#").sub-menu__link  Khoa kinh tế - quản lý
        span.arrow-bottom
    li.sub-menu__item
      a(href="#").sub-menu__link  Khoa khoa học - sức khỏe
        span.arrow-bottom
    li.sub-menu__item
      a(href="#").sub-menu__link  Khoa ngoại ngữ
        span.arrow-bottom
    li.sub-menu__item
      a(href="#").sub-menu__link  Khoa khoa học xã hội và nhân văn
        span.arrow-bottom
    li.sub-menu__item
      a(href="#").sub-menu__link  Khoa truyền thông đa phương tiện
        span.arrow-bottom
    li.sub-menu__item
      a(href="#").sub-menu__link  Khoa âm nhạc ứng dụng
        span.arrow-bottom
    +language-mobile
