.sub-menu {
	margin: 0;
	position: absolute;
	left: 0;
	padding: 30px;
	padding-top: 0;
	width: 100%;
}

.sub-menu__item {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
}

.sub-menu__item:not(:last-child) {
	border-bottom: 1px solid #1e2652;
}
.sub-menu__link {
	color: $color-secondary-dark;
	display: flex;
	align-items: center;
	font-size: 15px;
	justify-content: space-between;
	position: relative;
}
.sub-menu__link:hover {
	color: $color-white;
}
//submenu2
.sub-menu2 {
	padding-left: 20px;
	position: absolute;
	opacity: 0;
	visibility: hidden;
}
.sub-menu-actives {
	position: static;
	visibility: visible;
	opacity: 1;
}
.sub-menu2__item {
	list-style: none;
	padding: 9px 0;
}
.sub-menu2__item:first-child {
	padding-top: 25px;
}
.sub-menu2__link {
	color: $color-white;
	font-size: 15px;
}
.sub-menu__name {
	padding: 0;
	display: flex;
	padding-top: 15px;
	flex-direction: column;
}
.sub-menu__name:after {
	content: '';
	width: 100%;
	height: 1px;
	background-color: $color-white;
	margin: 9px 0;
}
.sub-menu__name a {
	color: $color-white;
	font-size: 14px;
}
