mixin news
  .container
    .section
      .news
        .new__hot(style="background-image: url('./assets/images/tintuc.jpg');")
          .new__hot-inner
            div.new__hot-title tin tức & sự kiện
            p.new__hot-desc Sự kiện bùng nổ nhất năm 2020: Đại nhạc hội kỷ niệm 30 năm thành lập Trường Đại học Thăng Long
            button.button.button--light Xem thêm


