mixin news
  .container
    .news
      .news__hot(style="background-image: url('./assets/images/tintuc.jpg');")
        .section
          .news__hot-inner
            div.news__hot-title tin tức & sự kiện
            p.news__hot-desc Sự kiện bùng nổ nhất năm 2020: Đại nhạc hội kỷ niệm 30 năm thành lập Trường Đại học Thăng Long
            button.button.button--light.dl-none Xem thêm
            a(href="#").news__link.dl-block Xem thêm
              span.angle-right.ml-10
      .news_header
        .news_header-left
          div.news__image
            img(src="./assets/images/news.jpg", alt="")
          div.news__item
            div.news__name Chung kết cuộc thi hùng biện tiếng Hán 2020
            a(href="#").news__link Xem thêm
              span.angle-right.ml-10
        .news_header-right
          div.news__item
            div.news__name Tổ chức thành công Hội nghị Khoa học quốc gia lần thứ XI “Nghiên cứu cơ bản và ứng dụng công nghệ thông tin” Fair 11 Tổ chức thành công Hội nghị Khoa học quốc gia lần thứ XI “Nghiên cứu cơ bản và ứng dụng công nghệ thông tin” Fair 11Tổ chức thành công Hội nghị Khoa học quốc gia lần thứ XI “Nghiên cứu cơ bản và ứng dụng công nghệ thông tin” Fair 11
            a(href="#").news__link Xem thêm
            a(href="#").news__link Xem thêm
              span.angle-right.ml-10
      .section
        .news__center
          .row
            .col-sm-12.col-md-6.col-lg-3.bd-hr
              .news__el
                .news__title Phòng Đào tạo
                a(href="").news__desc Hội nghị Khoa học quốc gia lần thứ XI “Nghiên cứu cơ bản và ứng dụng công nghệ thông tin
                  div.detail Chi tiết
            .col-sm-12.col-md-6.col-lg-3.bd-hr
              .news__el
                .news__title Phòng Đào tạo
                a(href="").news__desc Hội nghị Khoa học quốc gia lần thứ XI “Nghiên cứu cơ bản và ứng dụng công nghệ thông tin
                  div.detail Chi tiết
            .col-sm-12.col-md-6.col-lg-3.bd-hr
              .news__el
                .news__title Phòng Đào tạo
                a(href="").news__desc Hội nghị Khoa học quốc gia lần thứ XI “Nghiên cứu cơ bản và ứng dụng công nghệ thông tin
                  div.detail Chi tiết
            .col-sm-12.col-md-6.col-lg-3.bd-hr
              .news__el
                .news__title Phòng Đào tạo
                a(href="").news__desc Hội nghị Khoa học quốc gia lần thứ XI “Nghiên cứu cơ bản và ứng dụng công nghệ thông tin
                  div.detail Chi tiết





