mixin news
  .container
    .section 
      .news
        .new__hot(style="background-image: url('./assets/images/tintuc.jpg');")
          .new__hot-inner
            div tin tức & sự kiện
            p.new__hot-title Sự kiện bùng nổ nhất năm 2020: Đại nhạc hội kỷ niệm 30 năm thành lập Trường Đại học Thăng Long
          
