extends _core/layout

include layouts/header/header
include layouts/carousel_home/carousel_home
include layouts/program_study/program_study
include components/news/news

block header
  +header
  +carousel-home
block content
  +program-study
  +news


          
