extends _core/layout

include layouts/header/header
include ./components/banner/banner
include ./components/breadcrumb/breadcrumb
include ./components/whychooseTLU/whychooseTLU
include ./components/achivement/achivement
include ./components/video-iframe/video-iframe
include ./components/carousel/carousel
include ./components/future-carrer/future-carrer
include ./components/fields/fields
include ./components/register-guild/register-guild
include ./components/infor-document-tlu/infor-document-tlu
include ./components/course-fee/course-fee

block header
  +header
  +banner({
    image: 'https://images.pexels.com/photos/4755027/pexels-photo-4755027.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260',
    img1: './assets/images/tamgiac.png',
    title: 'Tuyển sinh đại học'
  })
block content
  +breadcrumb({
    item1: 'Trang Chủ',
    item2: 'Tuyển sinh',
    item3: 'Tuyển sinh đại học chính quy'
  })
  .container
    .section-page
      +row.reserve-row.pt-35
        +col({
          cols: [12,12,12,6]
        })
            .image-center
              img(src="./assets/images/item1_tuyensinh.png", alt="")
        +col({
          cols: [12,12,12,6]
        })
            +why-choose-tlu({
              align: 'center',
              title: 'Hệ thống kiến trúc thay đổi tư duy',
              desc: 'Kiến trúc trong xây dựng không phải là một khái niệm mới lạ. Tuy nhiên, kiến trúc trong giáo dục lại là một khái niệm mới mẻ với nhiều người. Chúng tôi đã thiết kế riêng cho ngôi trường một kiến trúc độc đáo, sáng tạo, sinh viên có thể học tập mọi lúc mọi nơi. Với hệ thống cơ sở vật luôn được cập nhật, người học được phát triển toàn diện từ kiến thức chuyên môn tới kĩ năng thực hành mang tính ứng dụng, phục vụ mọi nhu cầu của công việc thời đại mới. Tại đây, chúng tôi gọi đó là “Kiến trúc thay đổi tư duy”',
              link: 'khám phá cơ sở vật chất'
            })
      +row.pt-104.pt-sm-70
        +col({
          cols: [12,12,12,6]
        })
            .image-center
              img(src="./assets/images/item2_tuyensinh.png", alt="")
        +col({
          cols: [12,12,12,6]
        })
          .achivement-group
            .max-width
              +achivement({
                number: '93.7',
                desc: 'Sinh viên Đại học Thăng Long ra trường có việc làm ngay trong năm đầu tiên'
              })
            .max-width.mg-left-auto
              +achivement({
                  number: '13.6',
                  desc: 'Sinh viên ra trường làm việc trong doanh nghiệp nước ngoài'
              })
      +row.pt-180.reserve-row.pt-sm-70
        +col({
          cols: [12,12,12,6]
        })
            +video-iframe({
              video: 'https://www.youtube.com/embed/tgbNymZ7vqY'
            })
        +col({
          cols: [12,12,12,6]
        })
            +why-choose-tlu({
              align: 'left',
              title: 'Đô thị đại học & hệ sinh thái giáo dục',
              desc: 'Môi trường học tập thoải mái, truyền cảm hứng và sự sáng tạo cho người học, đáp ứng mọi nhu cầu học tập - nghỉ ngơi - giải trí của sinh viên. Máy móc và công nghệ hỗ trợ tối đa cho việc học và thực hành của sinh viên',
              link: 'Đời sống sinh viên Thăng Long'
            })
      +row.pt-214.pt-sm-70
        +col({
          cols: [12,12,12,6]
        })
            +carousel
        +col({
          cols: [12,12,12,6]
        })
            +future-carrer
  .fields-bg
    .section-page
      .container
        +row
          .fields__desc Bước vào kỷ nguyên toàn cầu hoá và cách mạng 4.0, mỗi sinh viên ra trường cần được trang bị đầy đủ kiến thức tổng hợp về Tin học - Ngoại ngữ - Kinh tế
          +col({
            cols: [12,12,6,4]
          })
              +field-post({
                img: './assets/images/field_img.png',
                name: 'Tin học',
                text: 'Chúng tôi thiết kế cho sinh viên theo học tại Đại học Thăng Long một chương trình học linh động, tiên tiến, sát với thực tiễn. Kiến trúc trong xây',
                link: 'Xem thêm'
              })
          +col({
            cols: [12,12,6,4]
          })
              +field-post({
                img: './assets/images/field__img1.png',
                name: 'Ngoại ngữ',
                text: 'Tuy nhiên, kiến trúc trong giáo dục lại là một khái niệm mới mẻ với nhiều người. Chúng tôi đã thiết kế riêng cho ngôi trường một kiến trúc.',
                link: 'Xem thêm'
              })
          +col({
            cols: [12,12,6,4]
          })
              +field-post({
                img: './assets/images/field_img2.png',
                name: 'Kinh tế',
                text: 'Kiến trúc trong xây dựng không phải là một khái niệm mới lạ. Tuy nhiên, kiến trúc trong giáo dục lại là một khái niệm mới mẻ với nhiều người',
                link: 'Xem thêm'
              })
  .section-page
    .container
      +row
        +col({
          cols:[12,12,12,5]
        })
            +register-guild({
              text: 'Hướng dẫn đăng kí',
              type: 'Xét điểm thi THPT Quốc gia 2020',
              desc: 'Điền mã trường Đại học Thăng Long DTL và mã ngành Đào tạo vào Hồ sơ dự thi THPT Quốc gia',
              detail: 'Thông báo chi tiết',
              type1: 'Xét tuyển học bạ',
              desc1: 'Trường Đại học Thăng Long tiến hành xét tuyển học bạ đối với 2 chuyên ngành Khoa học sức khoẻ và Thanh nhạc.',
              link: 'Khoa Âm nhạc ứng dụng'
            })
        +col({
          cols:[12,12,12,4]
        })
            +infor-document-tlu
        +col({
          cols:[12,12,12,3]
        })
            +course-fee
