mixin carousel-home
  #carouselExampleCaptions.carousel.slide(data-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='./assets/images/banners.png', alt='...')
        .carousel-caption
          h1 Tư duy là sức mạnh của sáng tạo
      .carousel-item
        img.d-block.w-100(src='./assets/images/banners.png', alt='...')
        .carousel-caption
         h1 Tư duy là sức mạnh của sáng tạo
      .carousel-item
        img.d-block.w-100(src='./assets/images/banners.png', alt='...')
        .carousel-caption
          h1 Tư duy là sức mạnh của sáng tạo
      .carousel-item
        img.d-block.w-100(src='./assets/images/banners.png', alt='...')
        .carousel-caption
          h1 Tư duy là sức mạnh của sáng tạo
    ol.carousel-indicators
      div.indicators
        li.active(data-target='#carouselExampleCaptions', data-slide-to='0')
        li(data-target='#carouselExampleCaptions', data-slide-to='1')
        li(data-target='#carouselExampleCaptions', data-slide-to='2')
        li(data-target='#carouselExampleCaptions', data-slide-to='3')
      a(href="").arrow
        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="70" viewBox="0 0 65 70">
          <path id="Path" d="M-31.223,0,0,32.5-31.212,65l-3.677-3.819L-9.953,35.208H-70V29.792H-9.953L-34.9,3.808Z" transform="translate(65 70) rotate(90)" fill="#fff" stroke="#d1042d" stroke-miterlimit="10" stroke-width="0"/>
        </svg>


