mixin footer
  .footer
    .container
      .footer__name Thăng long University
      .footer__content
        .footer__content-left
          ul.footer__item
            li
              a(href="") Giới thiệu
            li
              a(href="") Thông điệp từ hiệu trưởng
          ul.footer__item
            li
              a(href="") Cơ sở vật chất
            li
              a(href="") Hội đồng khoa học đào tạo
          ul.footer__item
            li
              a(href="") Cơ cấu phòng ban
            li
              a(href="") Liên hệ
        .footer__content-right
          .footer__infor
            .footer__infor-item
              .footer__infor-title Điện thoại
              span (84-24) 3858 7346
            .footer__infor-item
              .footer__infor-title Fax
              span (84-24) 3563 6775
            .footer__infor-item
              .footer__infor-title Email
              span info@thanglong.edu.vn
            .footer__infor-item
              .footer__infor-title Địa chỉ
              span Nghiêm Xuân Yêm - Đại Kim - Hoàng Mai - Hà Nội
      .footer__copyright
        .divider
        .footer__copyright-content
          .footer__copyright-text Copyright ©2020 Thang Long University. All rights reserved. Design by Beau Agency
          .footer__copyright-icon
            a(href="")
              <i class="fa fa-facebook" aria-hidden="true"></i>
            a(href="")
              <i class="fa fa-instagram" aria-hidden="true"></i>
            a(href="")
              <i class="fa fa-youtube-play" aria-hidden="true"></i>

